<section class="section-content">
  <div class="container clearfix">
    <div id="page-title">
      <h1>课程</h1>

    </div>
    <div id="courses-filter" class="clearfix">
      <div class="drop-down" >
        <a href="#">
          <span class="text" style="width:200px;"><%=@courseCategory_code2name[@category_code]%></span>
          <span class="icon"></span>
        </a>
        <ul>
          <% @courseCategory_code2name.keys.each  do |courseCategoryCode|%>
          <li>
            <a href="./course_list?category=<%=courseCategoryCode %>"><%=@courseCategory_code2name[courseCategoryCode]%></a>
          </li>
          <%end%>
        </ul>
      </div>
    </div>

    <%if @category_code!='ALL'%>
        <div class="title1 clearfix" >
          <div class="text"><h4>课程特色</h4></div>

          <div class="sub-title" style="text-align: left;"><%=simple_format(@course_description)%>
          </div>
        </div>
    <%end%>
    <div class="posts-grid posts-grid-3 clearfix">
      <%@courses.each do |course|%>
        <%= render partial: "course", object: course %>
      <%end%>

    </div>
  </div>
</section>