<section class="section-slider">
  <div class="flexslider fw-slider" data-autoscroll="8">
    <ul class="slides">
      <li class="slide overlay active flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
        <div class="slide-image">
          <img src="./demo_files/slide-girl-with-computer-1140x385.jpg" srcset="./demo_files/slide-girl-with-computer-1140x385.jpg 1140w, ./demo_files/slide-girl-with-computer.jpg 1920w" sizes="100vw" alt="Educator WP" draggable="false">
        </div>
        <div class="slide-caption light left in" style="top: 149px;">
          <div class="container">
            <div class="caption-inner"><h2 class="slide-title"><%=@school_name%></h2>

              <div class="slide-description">致力于国外考试TOEFL，IELTS，Sat，SSAT，AP，ACT，国外名校高中衔接课程等教学和考试技能开发。</div>
              <div class="buttons">
                <a class="button button-white" href="#" target="_blank">更多信息</a></div>
            </div>
          </div>
        </div>
      </li>
      <li class="slide overlay" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
        <div class="slide-image">
          <img src="./demo_files/slide-bookshop-1140x385.jpg" srcset="/demo_files/slide-bookshop-1140x385.jpg 1140w, /demo_files/slide-bookshop.jpg 1920w" sizes="100vw" alt="Lorem Ipsum" draggable="false">
        </div>
        <div class="slide-caption light left" style="top: 149px;">
          <div class="container">
            <div class="caption-inner"><h2 class="slide-title">教师师资</h2>

              <div class="slide-description">主创团队由四川留学和培训行业超过10年的资深导师组建</div>

            </div>
          </div>
        </div>
      </li>
      <li class="slide overlay" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
        <div class="slide-image">
          <img src="./demo_files/slide-travel-1140x385.jpg" srcset="./demo_files/slide-travel-1140x385.jpg 1140w, ./demo_files/slide-travel.jpg 1920w" sizes="100vw" alt="Study Anywhere" draggable="false">
        </div>
        <div class="slide-caption light left" style="top: 149px;">
          <div class="container">
            <div class="caption-inner"><h2 class="slide-title">辅课模式</h2>
              <div class="slide-description">让孩子课余外还有老师跟进作业完成，单词听写等，让孩子可以充分吸收当天的学习内容</div>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="flex-direction-nav">
      <li><a class="flex-prev" href="#"></a></li>
      <li><a class="flex-next" href="#"></a></li>
    </ul>
  </div>
</section>
<section class="section-content section-bg" style="background-color:#f5f5f5;">
  <div class="container clearfix">
    <div class="entry-content">
      <div class="dm3-one-fourth">
        <div class="dm3-box-icon dm3-box-icon-center">
          <div class="dm3-box-icon-icon"><span class="fa fa-star"></span></div>
          <div class="dm3-box-icon-content">
            <h2>优秀教材</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
      <div class="dm3-one-fourth">
        <div class="dm3-box-icon dm3-box-icon-center">
          <div class="dm3-box-icon-icon"><span class="fa fa-cogs"></span></div>
          <div class="dm3-box-icon-content">
            <h2>高品质</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
      <div class="dm3-one-fourth">
        <div class="dm3-box-icon dm3-box-icon-center">
          <div class="dm3-box-icon-icon"><span class="fa fa-heart"></span></div>
          <div class="dm3-box-icon-content">
            <h2>轻松学习</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
      <div class="dm3-one-fourth dm3-column-last">
        <div class="dm3-box-icon dm3-box-icon-center">
          <div class="dm3-box-icon-icon"><span class="fa fa-check"></span></div>
          <div class="dm3-box-icon-content">
            <h2>简单高效</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>

<%if nil #课程这部分不显示在首页上%>
    <section class="section-content">

<div class="container clearfix">

    <div class="entry-content">
    <div class="title1 clearfix">
      <div class="text">
        <h2>近期课程</h2>
      </div>
      <div class="sub-title">
        <%= link_to '查看所有课程', courseList_path(category:'all') %>
       </div>
    </div>
      <div class="dm3-tabs-testimonials" data-autoscroll="8">
        <div class="entry-content dm3-tabs" style="height: 334px;">

          <% @lastest_9_Courses.each_with_index do |course,index | %>
            <%if (index + 1) % 3 == 1%>
                <div class="dm3-tab" style="position: absolute; left: 0px; width: 100%; display: block; opacity: 1;">
                <div class="dm3-tab-inner">
            <%end%>

              <%= render partial: "course", object: course %>

            <%if (index + 1) %3 == 0 %>
                </div>
                </div>
            <%end%>

          <%end%>

        </div>
        <ul class="dm3-tabs-nav">
          <li class=""><a href="#">1</a></li>
          <li class=""><a href="#">2</a></li>
          <li class=""><a href="#">3</a></li>
        </ul>
      </div>
    </div>
</div>
</section>
<%end%>
<!--讲师介绍 区域-->

<%= render 'home_page/partical_lecturers', locals: {lecturers: @lecturers} %>




<section class="section-content">
  <div class="container clearfix">
    <div class="entry-content">
      <div class="title1 clearfix">
        <div class="text"><h2><%=@school_name%></h2></div>
        <div class="sub-title">了解<%=@school_name%>的几大优势</div>
      </div>
      <div class="dm3-one-third">

        <p>成都睿希国际教育，主创团队由四川留学和培训行业超过10年的资深导师组建。团队致力于国外考试TOEFL，IELTS，Sat，SSAT，AP，ACT，国外名校高中衔接课程等教学和考试技能开发。

          </p>
        <p>
          睿希国际教育区别于其他培训机构特点为：</p>
      </div>


      <div class="dm3-two-third dm3-column-last">
        <div class="dm3-accordion">


          <div class="dm3-collapse-item dm3-collapse-open">
            <div class="dm3-collapse-trigger"><a href="#">成绩反馈</a>
            </div>

            <div class="dm3-collapse-body dm3-in  dm3-collapse">
              <div class="dm3-collapse-inner">
                <div class="dm3-info dm3-alert-success">
                  睿希教育:
                  <br/>
                  学生有自己一对一的班主任，班主任每周及时跟家长沟通反馈在校学习状况，心里状态，家长放心，让孩子快乐学习
                </div>
                <div class="dm3-info dm3-alert-warning">
                  其他培训机构:
                  <br/>
                  大型机构没有老师跟进孩子学习，学习完了没有任何反馈就结束。
                </div>
              </div>

            </div>
          </div>
          <div class="dm3-collapse-item">
            <div class="dm3-collapse-trigger"><a href="#">学习和作业消化</a>
            </div>

            <div class="dm3-collapse-body dm3-collapse">
              <div class="dm3-collapse-inner">
                <div class="dm3-info dm3-alert-success">
                  睿希教育:
                  <br/>
                  睿希的辅课模式，让孩子课余外还有老师跟进作业完成，单词听写等，让孩子可以充分吸收当天的学习内容
                </div>
                <div class="dm3-info dm3-alert-warning">
                  其他培训机构:
                  <br/>
                  很多机构辅课要收费，或者辅课老师英文程度低，没有办法辅导作业和听写单词等
                </div>
              </div>

            </div>
          </div>

          <div class="dm3-collapse-item">
            <div class="dm3-collapse-trigger"><a href="#">教学研讨频率</a>
            </div>

            <div class="dm3-collapse-body dm3-collapse">
              <div class="dm3-collapse-inner">
                <div class="dm3-info dm3-alert-success">
                  睿希教育:
                  <br/>
                  每周教学团队定期磨课和研讨，根据最新的考试趋势，不同年龄阶段的孩子的能动性和性格特色，老师的特长，研发自己特色的教学模式和考试技能
                </div>
                <div class="dm3-info dm3-alert-warning">
                  其他培训机构:
                  <br/>
                  大机构基本人多流动性大，一两个月都不研讨教学，小机构大多是兼职老师，也没有时间做教学研讨
                </div>
              </div>

            </div>
          </div>
          <div class="dm3-collapse-item">
            <div class="dm3-collapse-trigger"><a href="#">教师师资</a>
            </div>

            <div class="dm3-collapse-body dm3-collapse">
              <div class="dm3-collapse-inner">
                <div class="dm3-info dm3-alert-success">
                  睿希教育:
                  <br/>
                  主创团队超过10年留学和培训行业经验，资深教学团队业内3-5年以上教龄，很多是海外工作或学习的老师
                </div>
                <div class="dm3-info dm3-alert-warning">
                  其他培训机构:
                  <br/>
                  部分为国内英文专业毕业生，教龄低于3年，师资参差不齐
                </div>
              </div>

            </div>
          </div>
          <div class="dm3-collapse-item">
            <div class="dm3-collapse-trigger"><a href="#">教学进度和课程设置</a>
            </div>

            <div class="dm3-collapse-body dm3-collapse">
              <div class="dm3-collapse-inner">
                <div class="dm3-info dm3-alert-success">
                  睿希教育:
                  <br/>
                  我们根据孩子的模考成绩，分阶段安排教学，在上课的过程中，老师也根据孩子听课的反应和反馈及时调整教学进度和难度
                </div>
                <div class="dm3-info dm3-alert-warning">
                  其他培训机构:
                  <br/>
                  流程化模板教学，在一开始就安排全程教学计划，中途严格跟着计划走，呈现模式化
                </div>
              </div>

            </div>
          </div>
          <div class="dm3-collapse-item">
            <div class="dm3-collapse-trigger"><a href="#">费用性价比</a>
            </div>

            <div class="dm3-collapse-body dm3-collapse">
              <div class="dm3-collapse-inner">
                <div class="dm3-info dm3-alert-success">
                  睿希教育:
                  <br/>
                  我们的课程费用比很多大型机构低，但是老师全部是3年以上优秀教师教学，此外，除了正课外，赠送学生每日辅课，学生可以在学校有充分时间学习和消化
                </div>
                <div class="dm3-info dm3-alert-warning">
                  其他培训机构:
                  <br/>
                  大机构正课收费高，没有辅课，小机构有辅课，老师不能帮助学生学习
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>

<!--学员感言-->
<section class="section-content section-bg" style="background-color:#f5f5f5;">
  <div class="container clearfix">
    <div class="entry-content">
      <div class="title1 clearfix">
        <div class="text"><h2>优秀学员</h2></div>
      </div>
      <div class="dm3-tabs-testimonials" data-autoscroll="8">
        <div class="dm3-tabs" style="height: 334px;">
          <div class="dm3-tab" style="position: absolute; left: 0px; width: 100%; display: none; opacity: 0;">
            <div class="dm3-tab-inner">
              <blockquote>“如果你浪费了自己的年龄，那是挺可悲的。因为你的青春只能持续一点儿时间——很短的一点儿时间。
                ”
              </blockquote>
              <div class="dm3-testimonial-photo"><img src="./demo_files/student-1.jpg" alt=""></div>
              <div class="dm3-testimonial-name">Jinny Wise</div>
              <div class="dm3-testimonial-description">美国大学</div>
            </div>
          </div>
          <div class="dm3-tab" style="position: absolute; left: 0px; width: 100%; display: block; opacity: 1;">
            <div class="dm3-tab-inner">
              <blockquote>“人生并不像火车要通过每个站似的经过每一个生活阶段。人生总是直向前行走，从不留下什么。”
              </blockquote>
              <div class="dm3-testimonial-photo"><img src="./demo_files/student-2.jpg" alt=""></div>
              <div class="dm3-testimonial-name">James</div>
              <div class="dm3-testimonial-description">剑桥大学</div>
            </div>
          </div>
          <div class="dm3-tab" style="position: absolute; left: 0px; width: 100%; display: none; opacity: 0;">
            <div class="dm3-tab-inner">
              <blockquote>“伟大的思想能变成巨大的财富。”
              </blockquote>
              <div class="dm3-testimonial-photo"><img src="./demo_files/student-3.jpg" alt=""></div>
              <div class="dm3-testimonial-name"><a href="http://google.com/" target="_blank">John Doe</a></div>
              <div class="dm3-testimonial-description">哈佛大学</div>
            </div>
          </div>
        </div>
        <ul class="dm3-tabs-nav">
          <li class=""><a href="#">1</a></li>
          <li class=""><a href="#">2</a></li>
          <li class=""><a href="#">3</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

