<h1>Listing articles</h1>

<div id="tag_cloud">
  <% tag_cloud Article.tag_counts, %w{small_tag middle_tag large_tag} do |tag, css_class| %>
      <%= link_to tag.name, tag_articles_path(tag.name), class: css_class %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>标签</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.Title %></td>
        <td><%= article.Content %></td>
        <td><%= helper__build_links_for_article_tags(article.tag_list) %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
