<p id="notice"><%= notice %></p>

<p>
  <strong>Passing line:</strong>
  <%= @dictation.passing_line %>
</p>

<p>
  <strong>Execute date:</strong>
  <%= @dictation.execute_date %>
</p>

<%= link_to 'Edit', edit_dictation_path(@dictation) %> |
<%= link_to 'Back', dictations_path %>
