<h1></h1>
<%if current_user.can_set_user_password?(@user) %>
<div class="ui green horizontal label"><h2>设置用户 <%=@user.name %>(<%=@user.role_name%>) 的登录密码</h2></div>
<%= simple_form_for(@user) do |user_f| %>
    <%= user_f.error_notification %>

    <div class="filed">
      <%= user_f.input :password ,label:"设置密码"%>
    </div>


    <div class="form-actions">
      <%= user_f.button :submit ,'保存'%>
    </div>
<% end %>
<%else%>
    <div class="ui red horizontal label"><h2>你不能设置其他用户的登录密码</h2></div>
<%end%>