<%= simple_form_for([@test_paper,@section]) do |f| %>
  <%= f.error_notification %>


    <div class="ui teal ribbon label">Section 信息:</div>

            <%= render 'form_section_basic_fields', f: f %>

    <div class="ui teal ribbon label">题目数量:<%= @section.questions.count %></div>
    <br>

    <div class="field">
      <!--嵌套表单用于 增改删 相关试卷-->
      <%= f.simple_fields_for :questions do |builder| %>
          <%= render 'question_form_fields', f: builder %>
      <% end %>


    </div>

    <p><%= link_to_add_nest_form_fields "增加题目", f, :questions %></p>




    <div class="form-actions">
    <%= f.button :submit,"保存" %>
  </div>
<% end %>
